<!-- <div class="alert alert&#45;danger" id="error"></div> -->

<p>{{view.username}} har {{view.money}} kroner tilbage.</p>
<div class="alert alert-success" id="ok">
  <strong>succes!</strong> Køb gennemført 
</div>
<div class="alert alert-danger" id="error"></div>

</div>
<div class="col-xs-6">
<h2 class="sub-header">Priser</h2>
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1">Nr</th>
                  <th class="col-md-2">Navn</th>
                  <th class="col-md-3">Pris</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="pro in view.products" ng-if="$index%2===0 && pro.active">
                      <td>{{pro.buyId}}</td>
                      <td><a ng-click="view.buy(pro.buyId, pro.price)">{{pro.name}}</a></td>
                      <td>{{pro.price}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
</div>
  <div class="col-xs-6">
      <h2 class="sub-header"></br></h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1">Nr</th>
                  <th class="col-md-2">Navn</th>
                  <th class="col-md-3">Pris</th>                
              </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="pro in view.products" ng-if="$index%2===1 && pro.active">
                      <td>{{pro.buyId}}</td>
                      <td><a ng-click="view.buy(pro.buyId, pro.price)">{{pro.name}}</a></td>
                      <td>{{pro.price}}</td>                  
                  </tr>
             </tbody>
            </table></div>
    </div>

    <button ng-click="view.done()" class="btn btn-primary">Færdig</button>

